<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feature Flags Demo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="container">
    <h2 >Welcome to the Split OpenFeature Demo!</h2>
    <div th:if="${usePunImage eq 'on'}">
    <p  class="message enabled" >
        The new feature is enabled! <span class="emoji">👍</span>
    </p>
        <p>Why not have a laugh while you're here?</p>
        <img th:src="${memeUrl}">
    </div>
   <div th:if="${usePunImage eq 'off'}">


       <p  class="message disabled">
           The new feature is disabled.
       </p>
       <p>Why not have a laugh while you're here?</p>
       <p th:text="${pun}">pun</p>

   </div>
    <button onClick="window.location.href=window.location.href">Click here to laugh again!</button>







</div>

</body>
</html>
