/* src/main/resources/static/css/style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.message {
    font-size: 18px;
    margin-top: 20px;
}

.enabled {
    color: #4caf50;
}

.disabled {
    color: #f44336;
}

.emoji {
    font-size: 24px;
    margin-left: 5px;
}

img{
    width:100%;
    max-width:600px;
    }